html,
body {
  margin: 0;
  overflow-x: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.align-left {
  text-align: left;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

* {
  font-family: Arial, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
}

.logo {
  position: absolute;
  top: 50px;
  left: 20px;

  width: 400px;
  height: auto;

  transform: translateX(-100px);
  opacity: 0;

  animation: fadeRight 1s ease 0.5s forwards;
}

.title-logo {
  transform: scale(0.7);
}

.container-background {
  min-height: calc(100vh - 40px);
  min-height: calc(100dvh - 40px);
  height: auto;

  margin: 20px;

  display: flex;
  align-items: stretch;
  justify-content: center;

  background: linear-gradient(
    to bottom right,
    #ea4335 0%,
    #ea4335 24%,
    #34a853 24%,
    #34a853 49%,
    #f9ab00 49%,
    #f9ab00 74%,
    #4285f4 74%,
    #4285f4 100%
  );

  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.container {
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;

  width: 100%;
  min-height: 0;
  height: auto;

  padding: 20px;

  border-radius: 10px;
  background: white;

  position: relative;
  overflow: hidden;
}

.container h1 {
  font-size: 96px;
  margin: 0;

  padding-top: 150px;

  transform: translateX(-50px);
  opacity: 0;
  animation: fadeRight 1s ease 0.7s forwards;
}

.container p {
  font-size: 24px;
  margin-top: 0;

  transform: translateX(-50px);
  opacity: 0;
  animation: fadeRight 1s ease 0.8s forwards;
}

.google-circle {
  position: absolute;

  width: 500px;
  height: 500px;
  border-radius: 50%;
  background: #4285f4;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: bold;

  z-index: -1;
}

.google-circle.green {
  background: #34a853;
  right: 50px;
  top: -350px;

  transform: translate(0px, -150px);

  animation: circleAnimation 1s ease forwards;
}

.google-circle.blue {
  background: #4285f4;
  right: -175px;
  bottom: -200px;

  transform: translate(300px, 200px);

  animation: circleAnimation 1s ease forwards;
}

.google-circle.yellow {
  background: #f9ab00;
  left: 50px;
  bottom: -350px;

  transform: translate(-300px, 150px);

  animation: circleAnimation 1s ease forwards;
}

.google-circle.red {
  background: #ea4335;
  left: -80px;
  top: -250px;

  transform: translate(-250px, -250px);

  animation: circleAnimation 1s ease forwards;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: clamp(20px, 5%, 40px);
  width: 100%;

  gap: 16px;
}

.container a {
  --button-before-color: white;

  position: relative;
  z-index: 0;

  width: clamp(200px, 75%, 400px);
  height: 50px;

  font-size: 16px;

  color: black;
  background: white;

  border: 1px solid #ccc;
  border-radius: 20px;

  cursor: pointer;
  overflow: hidden;

  text-decoration: none;

  transform: translate(-50px, 0);
  opacity: 0;

  transition: transform 0.2s ease;
}

.container a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  border-radius: 10px;
  background: var(--button-before-color);
  z-index: -1;
  transition: width 0.5s ease-in-out;
}

.container a::before {
  background: var(--button-before-color);
}

.container a:hover::before {
  width: 100%;
}

.container a img {
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);

  border-radius: 10px;

  width: 50px;
  height: 50px;

  transition:
    left 0.5s ease-in-out,
    transform 0.2s ease;

  z-index: 2;
}

.container a span {
  position: relative;

  font-size: 18px;
  font-weight: bold;

  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.container a:hover {
  transform: scale(1.1);
}

.container a:hover img {
  left: calc(100% - 30px);
}

@media (max-width: 850px) {
  .container-background {
    margin: 10px;
  }

  .container h1 {
    font-size: 48px;
    padding-top: 110px;
  }

  .container p {
    font-size: 16px;
  }

  .logo {
    width: 300px;
  }

  .google-circle.green {
    right: -300px;
  }

  .google-circle.blue {
    right: -300px;
  }

  .google-circle.yellow {
    left: -300px;
  }

  .google-circle.red {
    left: -150px;
  }
}

@keyframes circleAnimation {
  to {
    transform: translate(0, 0);
  }
}

@keyframes fadeRight {
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
