html,
body {
  margin: 0;
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.align-left {
  text-align: left;
}

.align-center {
  align-items: center;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  text-align: center;

  width: 100%;
  min-height: 100%;
  box-sizing: border-box;

  padding: 20px;

  border-radius: 10px;
  background: white;
}

.button-container {
  display: flex;
  justify-content: center;

  padding: 50px;
  gap: 16px;
}

.container-background {
  height: calc(100vh - 40px);
  box-sizing: border-box;
  margin: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #4285f4, #34a853, #f9ab00, #ea4335);
  background-size: 200% 100%;
  background-position: 100% 50%;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: gradientShift 4s ease-in-out infinite alternate;
}

.container button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4285f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #357ae8;
}

@keyframes gradientShift {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
